- throw_content(:content_title, "Posts controller, show action")
= error_messages_for @post

= fields_for @post do
  = text_field :title, :label => "Title"
  = text_area :content, :label => "Content"
= link_to "Index", url(:posts)